/.gitattributes         export-ignore
/.github                export-ignore
/.docker-compose.yml    export-ignore
/Dockerfile             export-ignore
/phpunit.xml            export-ignore
/tests                  export-ignore